.entry {
	margin-bottom: 20px;
}

.fake_input {
	font-family: 'Alegreya Sans';
	font-size: 1.2rem;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	border: 1px solid #c2c2c2;
	border-radius: 8px;
	padding: 6px;

	color: gray;
}

.fake_input button {
	margin-right: 2px;
}
