.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	border: 0 none #0000;
	border-radius: 6px;
	padding: 5px 10px;

	color: rgb(255, 255, 255);
	background-color: rgb(17, 0, 255);
}

.button:active {
	transform: scale(0.96);
}
