.text_input {
	border: 1px solid rgb(194, 194, 194);
	border-radius: 8px;
}

.text_input textarea {
	overflow: hidden;
}

.text_input textarea {
	border: none;
	border-radius: 8px;
	padding: 5px;
	text-align: justify;
	font-size: 1rem;
	font-family: 'Alegreya Sans';
	font-size: 1.2rem;
	margin: 0;
	width: 100%;
}
