.box {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	user-select: none;
}

.box span {
	font-weight: 600;
}

.box.up span,
.box.down span {
	color: #f39400;
}

.up {
}

/* .vote-button-up, */
.box.up .vote_button_up,
.box.down .vote_button_down {
	filter: brightness(1) sepia(1) saturate(5);
}

.box span {
	min-width: 20px;
	text-align: center;
	font-size: 1.1rem;
	padding: 0 15px;
	color: gray;
	padding-bottom: 2px;
	font-family: 'Noto Sans JP', sans-serif;
}

.button {
	filter: brightness(1.5);
	width: 20px;
	border-radius: 4px;
	cursor: pointer;
	box-sizing: content-box;
	padding: 4px;
}

.button:hover {
	background-color: rgba(128, 128, 128, 0.116);
}
